#phonetic_panel {
	background-color: #000;
	color: #ccc;
	width: 200px;
	height: 40px;
	font-size: 50px;
	padding: 20px;
    position:fixed;
    right: 50px;
    top: 200px;
}

.phonetic-char {
	margin-left: 10px;
	font-size:50px;
	cursor: pointer;
}

.phonetic-char:hover {
	color: #456;
}


#container{
    width: 1200px;
    margin: 0 auto;
    
}