<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Phonetic Article</title>
<link rel="stylesheet" media="screen" title="app" charset="utf-8" href="{{site.baseurl}}/app.css">
<!-- https://cdnjs.com/libraries/jquery/ -->
<script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
<script type="text/javascript" charset="utf-8" src="{{site.baseurl}}/chars.js"></script>
<script type="text/javascript" charset="utf-8" src="{{site.baseurl}}/parser.js"></script>
<script type="text/javascript" charset="utf-8" src="{{site.baseurl}}/app.js"></script>

</head>
<body>
    
<div id="container">

<div id="phonetic_panel">
</div>


<div class="phonetic-article">
{{content}}
</div>

</div>
<a href="https://github.com/samwhelp/prototype-phonetic-article">GitHub</a>

</body>
</html>
